html{
	height:100%;
	width: 100%;
}
body {
	background-color: grey;
	height:90%;
	width: 98%;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}

header {
	height: 28%;
	width: 100%;
	background-image: url("../img/header.jpg");
	background-size: 100%;
	margin-top: 1%;
	margin-bottom: 0.5%;
	border-radius: 15px;
}

.logo{
	height: 6%;
	width: 13%;
	float:left;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background-image: url("../img/logotipo1.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

nav {
	height: 6%;
	width: 87%;
	float:right;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: white;
	padding-top: 1.5%;

}

nav > a {
	padding-left: 2%;
	padding-right: 2%;
	color: black;
	text-decoration:none;
	text-align: center;
}

nav > a:hover {
	background-color: grey;
	border-radius: 10px;
}

section {
	margin-top: 2%;
	margin-left: 1%;
	float: left;
	width: 25%;
	max-height: 200%;
	background-color: white;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 1%;
	margin-left: 8%;

}

section > img {
	border: black;
	float:right;
}

aside {
		float:right;
		margin-top: 0.3%;
		margin-left: 5%;
		margin-bottom: 3%;
		width: 18%;
		max-height:200%;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    text-align: center;
}

aside > p {
	text-align:center;
	padding: 1%;
	margin-top: 1.5%;
	margin-left:8%;
	margin-right: 8%;
	margin-bottom:5%;
	max-width: 100%;
	max-height: 50%;
	font-size: 102%;
	font-weight: bold;
	background-color: grey;

}

footer {
	clear:both;
	width: 80%;
	height: 2%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: white;
	float:center;
	padding: 2%;
	margin-top: 5%;
	margin-left: 8%;
	margin-right: 15%;

}
